body {
    background-color:lightskyblue;
    text-align: center;
}
h1{
    color:lightblue;
}
h2{
    front-size: large;
    front-style: italic;
}
.uau
{
    width: 30%;
}
p{
    font-weight: 200;
}